<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
<head>
	  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:400,700|Merriweather|Libre+Franklin:100,200|Metrophobic|Amatic+SC|Londrina+Outline|Roboto+Mono|Permanent+Marker|Bungee+Outline|Bungee+Shade">
</head>