/*************************************************
 *  An Example Green Theme for Hugo Academic
 *  Set `custom_css = ["green.css"] in `config.toml`.
 *  Then save this file as `/static/css/green.css` relative to your website root (i.e. not in `themes/academic` directory).
 *  https://github.com/gcushen/hugo-academic
 **************************************************/


/* Modify title of the header : font-family and font-variant (font-size doesn't seem to work)  */
.navbar-brand {
    font-variant: small-caps;
    font-weight: 100;
    font-size: 50%;
    color: #2b2b2b;
    font-family: 'Libre Franklin';
}



/* Modify title of the header : font-size  —  see https://gitlab.com/gauthierleterrier/gauthierleterrier.gitlab.io/blob/master/themes/academic/layouts/partials/css/academic.css */
.navbar-light .navbar-brand {
  font-weight: normal;
  font-size: 1em;
  color: {{ .Get "menu_title" }};
}



/* Font of items in navigation bar/menu  —  see same link as above */
.navbar-light .navbar-nav>.nav-item>.nav-link,
.navbar-light .navbar-nav>.nav-item>.nav-link:focus,
.navbar-light .navbar-nav>.nav-item>.nav-link:hover {
  white-space: nowrap;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  color: {{ .Get "menu_text" }};
  font-weight: 100;   /* 400 = normal ; 600 = bold... */
}


/* Collapse nav bar    see https://stackoverflow.com/questions/19827605/change-bootstrap-navbar-collapse-breakpoint-without-using-less*/
@media (min-width: 200px) and (max-width: 400px) {
   .collapse {
       display: none !important;
   }
}